{% extends "store/base.html" %}
{% block content %}
   <section class="grid grid-cols-1 p-10 lg:grid-cols-3 sm:grid-cols-1">
      <div class="rounded shadow-lg p-6">
         <div class="flex flex-col items-center">
         <img src="{{ profile.image.url }}" alt="Profile picture" class="w-56 h-56">
         <p class="font-bold text-3xl text-center">{{ profile.user.username|capfirst }}</p>
      </div>
      <div class="my-2">
        <p class="text-gray-800">Contact: {{ profile.contact_number }}</p>
      </div>
      <article>
        {{ profile.about }}
      </article>
   </section> 
{% endblock %}