{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Store {% endblock title %}</title>
    <link rel="stylesheet" href="{% static './store/css/main.css' %}?{% now "Y-m-d H:i:s" %}"/>
  </head>

  <body>

    <header class="relative z-50">
      <nav class="bg-white/70 backdrop-blur-lg shadow-md fixed w-screen overflow-hidden max-h-28">
        <div class="flex items-center max-w-6xl m-auto px-4">
          <div class="p-4 flex items-center">
            <img class="h-8 w-8" src="{% static 'store/images/logo.png' %}" alt="image logo">
            <span class="font-bold text-gray-600">Buy&Sell</span>
          </div>

          <div class="w-full flex justify-between ml-3">
            <ul class="flex items-center space-x-4">
              <li><a href="{% url 'store:products' %}" class="block px-2 py-4 border-b-4 border-green-500">Home</a></li>
              <li><a href="{% url 'store:add_product' %}" class="block px-2 py-4" >Post and Add</a></li>
              <li><a href="#" class="block px-2 py-4" >View products</a></li>
            </ul>
            <div class="flex items-center space-x-2">
              {% if user.is_authenticated %}
                <a href="{% url 'users:profile' %}" class="px-4 py-2 text-white font-bold rounded-full bg-green-500">{{ user.username | capfirst }}</a>
                <a class="block px-6 my-2 py-2 rounded transition-all hover:bg-red-200" href="{% url 'users:logout' %}">Logout</a>
              {% else %}
                <a class="block px-6 my-2 py-2 rounded transition-all hover:bg-green-200" href="{% url 'users:login' %}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="max-w-6xl m-auto h-screen pt-20">
      {% block content %}
      {% endblock %}
    </main>

  </body>
</html>
