{% extends 'store/base.html' %}
{% block content %}
<article class="flex justify-center items-center h-screen px-6 pb-6 xl:p-0 z-10 overflow-hidden">
  
  <img class="absolute -z-10 rotate-45" src="{{ product.image.url }}">
  
  <div class="flex flex-col md:flex-row md:rounded-md rounded-none md:shadow-lg shadow-none p-4 backdrop-blur-lg bg-white/70">
    
    <div class="max-w-sm self-center shadow-md m-3 md:shadow-none rounded-lg">
      <img class="w-100% h-full object-cover" src="{{ product.image.url }}" alt="{{ product.name }} image">
    </div>
    <section class="mt-4 md:mt-0">
      <h2 class="text-4xl font-bold uppercase text-gray-800">{{ product.name }}</h2>
      <span class="block my-2 text-gray-600">By <a href="{% url 'users:seller_profile' product.seller.id %}" class="text-purple-400">{{ product.seller.username|capfirst }}</a></span>
      <span class="block text-green-500 text-4xl font-semibold">${{ product.price }}</span>
      <p class="mt-2 md:mt-6 md:pt-3 md:border-t-4 md:border-t-green-200 border-3px text-gray-700 font-medium">{{ product.description }}</p>
    </section>
  </div>

</article>

{% endblock %}