{% extends 'store/base.html' %} 

{% block content %}

  <!--Hero Section-->
  <section class="mt-2 px-7 lg:px-10">
    <h1 class="flex flex-col lg:justify-center lg:flex-row text-4xl sm:text-5xl md:text-6xl lg:text-5xl font-extrabold text-gray-900">
      <span >Premium Products</span>
      <span class="text-green-500 lg:ml-3">Non-premium Prices</span>
    </h1>
    <p class="mt-4 lg:text-center text-2xl font-medium text-gray-500">Get the best experience shopping</p>
  </section>
  <!--Hero Section-->

  <!--Products Section-->
  <section class="p-10 grid grid-cols-1 place-items-center sm:grid-cols-1 md:grid-cols-3 xl:grid-cols-3 lg:grid-cols-3 gap-5">
    {% for product in products %}

      <a href="{% url 'store:product_detail' product.id %}">
        <div class="rounded-md overflow-hidden transition-all shadow-md hover:shadow-lg p-4 hover:scale-105">
          <img class="w-full object-cover" src="{{ product.image.url }}" alt="{{ product.name }} image">
          <div class="mt-2">
            <p class="text-xl text-gray-800 font-bold uppercase">{{ product.name }}</p>
            <p class="text-lg text-green-500 font-semibold">$ {{ product.price }}</p>
          </div>
        </div>
      </a>

    {% endfor %}
  </section>
  <!--Products Section-->


{% endblock %}
