{% extends 'store/base.html' %}

{% block content %}
  <form class="flex flex-col items-start p-6 rounded-lg shadow-lg" action="{% url 'store:update_product' product.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-col my-3">
      <label for="name" class="text-lg cursor font-medium text-gray-800"> Product name </label>
      <input class="p-2 outline-0 shadow-md border rounded transition-all focus:shadow-lg" type="text" id="name" name="name" required value="{{ product.name }}"/>
    </div>

    <div class="flex flex-col my-3">
      <label for="price" class="text-lg cursor font-medium text-gray-800"> Price </label>
      <input class="p-2 outline-0 shadow-md border rounded transition-all focus:shadow-lg" type="number" id="price" name="price" step="any" required value="{{ product.price }}"/>
    </div>

    <div class="flex flex-col my-3">
      <label for="description" class="text-lg cursor font-medium text-gray-800"> Description </label>
      <textarea name="description" id="description" cols="50" rows="2" class="p-2 outline-0 shadow-md border rounded transition-all focus:shadow-lg">{{ product.description }}</textarea>
    </div>
    
    <img class="w-44" src="{{ product.image.url }}" alt="{{ product.image.name }}" />

    <div class="flex flex-col my-3">
      <label for="upload" class="text-lg cursor font-medium text-gray-800"> Product Image </label>
      <input type="file" accept="image/*" name="upload" id="upload"/>
    </div>
    <input class="block mt-4 px-5 py-2 text-lg text-white font-medium bg-green-500 rounded-md cursor-pointer transition-all focus:bg-green-600 hover:shadow-lg" type="submit" value="Save"/>
  </form>
{% endblock  %}

